<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee" version="3.0">
  <context-param>
    <param-name>MySQLUsername</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>MySQLPassword</param-name>
    <param-value>2195</param-value>
  </context-param>
  <context-param>
    <param-name>MySQLDBName</param-name>
    <param-value>hcdb</param-value>
  </context-param>
  <context-param>
    <param-name>MySQLHost</param-name>
    <param-value>localhost:3306</param-value>
  </context-param>
  <context-param>
    <param-name>httpHost</param-name>
    <param-value>localhost:8080</param-value>
  </context-param>
  <context-param>
    <param-name>projectFolderUploadedFiles</param-name>
    <param-value>healthcare</param-value>
  </context-param>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>keerthi.pkrn@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>K2!4R7@2N</param-value>
  </context-param>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
        D:\\workspace\\healthcare\\WebContent\\
     </param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <display-name>healthcare</display-name>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>healthcare.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFeedback</display-name>
    <servlet-name>AddFeedback</servlet-name>
    <servlet-class>healthcare.controller.AddFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFeedback</servlet-name>
    <url-pattern>/AddFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>healthcare.controller.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>